/* This sticks the navbar to the top. */
.header {
    overflow: hidden;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    z-index: 1;
}

/* This fixes the footer to the bottom. */
.footer {
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    bottom: 0;
    text-align: center;
}

main {
    padding-bottom: 2000px;
}

.outline {
    border: 2px solid black;
}


/* This is the image of each article item. */
img {
    position: relative; /* make image overlap other elements once hover */
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 0 0 0 0; /* top right bottom left */
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
    transition: width 1s, opacity 1s;
}
/* projectImages are made larger and more opaque upon hover*/
#projectImage {transition-timing-function: ease;}
img:hover {
    width: 120%;
    opacity: 1;    
}


/* dropdown lists start upon hover  */
/* the dropdown top text */
#dropdown10, #dropdown20 {
    background-color: #666666;
    color: white;
    padding: 0 16px 0 16px; /* top right bottom left */
    border: none;
    border-radius: 10px;
}
/* the dropdown div */
#dropdown1, #dropdown2 {
position: relative;
display: inline;
}
/* the dropdown inner lists */
.dropdownContent1, .dropdownContent2 {
display: none;
position: absolute;
background-color: #f6ecec;
min-width: 260px;
box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.2); /* horizontal offset, vertical offset, blur effect, spread radius of shadow, then color of shadow*/
z-index: 1;
}
/* when hovering over dropdown divs...drop down inner lists */
#dropdown1:hover .dropdownContent1 {display: block;}
#dropdown2:hover .dropdownContent2 {display: block;}


/* This is the background image only. */
body {
    background-image: url("../images/bg2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

/* This import is from (fonts.google.com). */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* This is the article's font. */
article {
    width: 100%;
    height: 200px;
    display: block;
    position: relative;
    color: black;
    font-family: 'Oswald', sans-serif, "Times New Roman";
    text-align: left;
    font-weight: bold;
    padding: 7px;
    font-size: 22px;
}

/* This is the article's background. */
.bg::after {
    content: "";
    opacity: 0.8;
    background-color: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}